.encryptedKey.json
node_modules
.env
coverage
coverage.json
typechain

# vscode
.vscode

#Hardhat files
cache
artifacts
.DS_Store
gas-report.txt
deployments

# Patrick
.notes.md

# Text Files
Acknowledgements.txt
raffle.txt
error.md

# MohammadRokib
Acknowledgements.txt
error.md
raffle.txt